
@{
  Layout = "_Layout";
}
@model Library.Models.Book

<h4>Are you sure you would like to delete @Model.BookTitle from the database?</h4>
<br>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Book Inventory", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>